body {
    background: blanchedalmond;
    width: 80%;
    min-height: 500px;
    border: solid black 1px;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

h1 {
    text-align: center;
}